.dropbtn {
    background-color: rgb(135, 135, 135);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(106, 106, 106);
}

.nextbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.nextbtn:hover, .nextbtn:focus {
    background-color: #2980B9;
}

.backbtn {
    background-color: #dbca41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.backbtn:hover, .backbtn:focus {
    background-color: #b99604;
}

.savebtn {
    background-color: #32db52;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.savebtn:hover, .savebtn:focus {
    background-color: #1bb91e;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.empty {
    text-decoration: none;
    font-weight: bold;
    color: rgb(147, 147, 147);
}

.very-weak {
    text-decoration: none;
    font-weight: bold;
    color: #ff2403;
}

.weak {
    text-decoration: none;
    font-weight: bold;
    color: #ffac11;
}

.good {
    text-decoration: none;
    font-weight: bold;
    color: #fdff02;
}

.strong {
    text-decoration: none;
    font-weight: bold;
    color: #95ff01;
}

.very-strong {
    text-decoration: none;
    font-weight: bold;
    color: #12ff26;
}
